#projects {
    padding-top: 10%;
    font-family: Vanilla, "serif";
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    gap: 4em;
    background-image: url("../../assets/bg\ images/WOC_LIS_05.gif");
    background-size: cover;
    min-height: 55vw;
}

.projects-image-grid {
    display: grid;
    grid-template-columns: repeat(3, 214px);
    grid-template-rows: repeat(3, 214px);
    gap: 1.5em;
    margin-left: -7.5%;
    transform: rotate3d(1, 0, 0, 35deg) rotate3d(0, 1, 0, -20deg);
}

.projects-image-grid>.image-1 {
    clip-path: inset(0px 425px 425px 0px round 20px);
}

.projects-image-grid>.image-2 {
    margin-left: -100%;
    clip-path: inset(0px 214px 426px 214px round 20px);
}

.projects-image-grid>.image-3 {
    margin-left: -200%;
    clip-path: inset(0px 0px 426px 426px round 20px);
}

.projects-image-grid>.image-4 {
    margin-top: -100%;
    clip-path: inset(214px 426px 214px 0px round 20px);
}

.projects-image-grid>.image-5 {
    margin-top: -100%;
    margin-left: -100%;
    clip-path: inset(214px 214px 214px 214px round 20px);
}

.projects-image-grid>.image-6 {
    margin-top: -100%;
    margin-left: -200%;
    clip-path: inset(214px 0px 214px 426px round 20px);
}

.projects-image-grid>.image-7 {
    margin-top: -200%;
    clip-path: inset(426px 426px 0px 0px round 20px);
}

.projects-image-grid>.image-8 {
    margin-top: -200%;
    margin-left: -100%;
    clip-path: inset(426px 214px 0px 214px round 20px);
}

.projects-image-grid>.image-9 {
    margin-top: -200%;
    margin-left: -200%;
    clip-path: inset(426px 0px 0px 426px round 20px);
}

.projects-textual-content {
    margin-right: 5%;
    text-align: right;
    max-width: 60%;
}

.projects-header {
    opacity: 0;
    font-size: calc(2.5em + 1.675vw);
    font-weight: 200;
    color: white;
    letter-spacing: 0.09em;
    margin: 8.5% 0 8.5% 0;
}

.projects-header-active {
    opacity: 1;
    font-size: calc(2.5em + 1.675vw);
    font-weight: 200;
    color: white;
    letter-spacing: 0.09em;
    animation: slide-up 1s ease-out;
}

.projects-text {
    color: white;
    text-align: justify;
    font-size: larger;
}

.projects-button {
    /* background-color: white;
    color: #042042;
    font-weight: 1000;
    font-size: calc(1em);
    margin-top: 7.5%;
    padding: 3% 8% 3% 8%;
    border-style: none;
    border-radius: 15px;
    transition: all 0.5s; */
    align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  /* padding-left: 16px;
  padding-right: 16px; */
  padding: 3% 8% 3% 8%;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: calc(1em);

}

.projects-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .projects-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .projects-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

@media screen and (max-width: 1200px) {
    .projects-image-grid {
        display: none;
    }

    .projects-textual-content {
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .projects-button {
        margin-top: 12.5%;
        font-size: larger;
        padding: 4% 10% 4% 10%;
    }
}

@media screen and (max-width: 400px) {
    .projects-header {
        letter-spacing: normal;
    }
}