.faq-sec {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
.faq-sec-container {
    max-width: 30rem;
    padding: 0 5rem;
  }
  
.faq-sec-heading {
    font-size: 4.5rem;
    padding-bottom: 3vh;
    color: white;
  }
  
.faq-sec-heading-line-2 {
    position: relative;
    font-size: 2.5rem;
    padding-top: 19vh;
    margin-left: -51vh;
    padding-bottom: 3vh;
    color: white;
  }
  
.faq-sec-ques {
    font-size: 150%;
    color: white;
    display: flex;
  }
  
  .ques {
    padding: 4px 0px 4px 12px;
    cursor: pointer;
  }
  
  .answer {
    font-size: 130%;
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: rgba(245, 245, 245, 0.048);
    border-radius: 7px;
    transition: max-height 0.8s ease-in-out;
  }
  
  .arrow {
    transition: transform 0.8s ease-in-out;
  }
  
  .answer p {
    padding: 10px 0 10px 20px;
  }
  
  .answer::before {
    content: "";
    width: 0.5rem;
    background-color: rgba(138, 19, 3, 0);
    height: 100%;
    border-radius: 7px;
    position: absolute;
    left: 1.1px;
    top: 0%;
    transform: translateX(-1px);
  }
  
  .faq-sec-item {
    background-color: rgba(83, 83, 83, 0);
    border-radius: 7px;
    padding: 0.5rem;
    margin-bottom: 8px;
    box-shadow: 0.5rem 5px 2px rgba(0, 0, 0, 0.064);
  }
  
  .faq-active .answer {
    max-height: 20rem;
  }
  
  .faq-active .answer p {
    animation: fade_text 1s ease-in-out;
  }
  
  .faq-active .arrow {
    transform: rotate(180deg);
  }
  
