#organisations {
  font-family: Vanilla;
  background-image: url("../../assets/bg\ images/WOC_LIS_04.gif");
  background-size: cover;
}

.orgs-flex {
  display: flex;
  justify-content: space-around;
}

.orgs-left {
  margin-left: 5%;
}

.orgs-header {
  font-size: calc(2em + 1.875vw);
  font-weight: 200;
  color: white;
  text-align: center;
  letter-spacing: 0.09em;
  margin-right: -12.5%;
}

.orgs-header-active {
  font-size: calc(2em + 1.875vw);
  font-weight: 200;
  color: white;
  text-align: center;
  letter-spacing: 0.09em;
  margin-right: -12.5%;
  animation: slide-up 1s ease-out;
}

.orgs-whale-bg {
  margin-top: 2.5%;
  z-index: 0;
  position: absolute;
}

.orgs-whale {
  margin-top: 5%;
  animation-name: slide;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes slide {
  from {
    translate: 0 0vh;
  }

  to {
    translate: 0 4vh;
  }
}

.orgs-image-container {
  padding-left: 0;
  justify-content: center;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  grid-auto-rows: max-content;
  row-gap: 2em;
}

.orgs-image-rows {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 2em;
}

.org-image {
  max-height: 100px;
  width: auto;
}

.row-stretch {
  margin-right: -12.5%;
}

.row-stagger {
  justify-content: space-between;
  margin-left: 25%;
  margin-right: -25%;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .orgs-right {
    display: none;
  }

  .row-stretch,
  .row-stagger,
  .orgs-left {
    margin: auto;
  }

  .orgs-header {
    margin-right: auto;
  }

  .orgs-flex {
    padding: 0;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media screen and (max-width: 600px) {
  .orgs-image-rows {
    flex-flow: column wrap;
    gap: 1em;
    align-items: center;
  }

  .org-image {
    max-height: 150px;
    width: auto;
  }
}