
#organisations {
  margin: 0%;
  padding: 0%;
  font-family: Vanilla;
  position: relative;
  overflow: hidden;
}
.organisations-background {

  position: absolute;
    width: 98.9vw;
    height:100%;
    z-index: -1;
    overflow:auto;
}
.organisations-content {
  z-index: 2;
}

.orgs-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.orgs-header {
  font-size: 4em;
  font-weight: 200;
  color: pink;
  text-align: center;
  letter-spacing: 0.09em;
  margin-right: -12.5%;
}

.orgs-whale-bg {
  margin-top: 2.5%;
  z-index: -1;
  position: absolute;
}

.orgs-whale {
  margin-top: 5%;
  animation-name: breathe;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes breathe {
  from {
    scale: 90%;
  }
  to {
    scale: 100%;
  }
}

.orgs-image-container {
  padding-left: 0;
  justify-content: center;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  grid-auto-rows: max-content;
  row-gap: 2em;
}

.orgs-image-rows {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 2em;
}

.org-image {
  max-height: 100px;
  width: auto;
}

.row-stretch {
  margin-right: -12.5%;
}

.row-stagger {
  justify-content: space-between;
  margin-left: 25%;
  margin-right: -25%;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .orgs-right {
    display: none;
  }

  .row-stretch,
  .row-stagger,
  .orgs-header {
    margin: auto;
  }

  .orgs-flex {
    padding: 0;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media screen and (max-width: 600px) {
  .orgs-header {
    font-size: 3em;
  }

  .orgs-image-rows {
    flex-flow: column wrap;
    gap: 1em;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .orgs-header {
    font-size: 2.5em;
  }
}
