#organisations {
    font-family: Vanilla;
}

.orgs-flex {
    padding: 5% 10% 5% 10%;
    display: flex;
}

.orgs-header {
    font-size: 4.5em;
    color: white;
}

.orgs-images {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

