#organisations {
  font-family: Vanilla;
  background-image: url("../../assets/bg\ images/WOC_LIS_04.gif");
  background-size: cover;
  min-height:55vw;
}

.orgs-flex {
  display: flex;
  justify-content: space-between;
}

.orgs-right{
  width: 55vw;
  height: 55vw;
  overflow: hidden;
  position: relative;
  padding-left: 5%;
}
.orgs-header {
  opacity: 0;
  font-size: calc(2em + 1.875vw);
  font-weight: 200;
  color: white;
  text-align: center;
  letter-spacing: 0.09em;
  margin: 8.5% -12.5% 8.5% 0;
}

.orgs-header-active {
  opacity: 1;
  font-size: calc(2em + 1.875vw);
  font-weight: 200;
  color: white;
  text-align: center;
  letter-spacing: 0.09em;
  margin-right: -12.5%;
  animation: slide-up 2s ease-out;
}

.orgs-whale-bg {
  margin-top: 10%;
  z-index: 0;
  position: absolute;
  /* width:105%; */
  /* width: 50vw; */
}

.orgs-whale {
  margin-top: 5%;
  position: absolute;
  /* width:30vw; */
  animation-name: slide;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes slide {
  from {
    translate: 0 0vh;
  }

  to {
    translate: 0 4vh;
  }
}

.orgs-image-container {
  padding-left: 0;
  justify-content: center;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  grid-auto-rows: max-content;
  row-gap: 2em;
}

.orgs-image-rows {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 2em;
}

.org-image {
  max-height: 100px;
  width: auto;
  animation: slide-up 2s ease-in;
}

.row-stretch {
  margin-right: -12.5%;
}

.row-stagger {
  justify-content: space-between;
  margin-left: 25%;
  margin-right: -25%;
  z-index: 2;
}

@media screen and (max-width: 1600px) {
  .orgs-right {
    padding-left: 2.5%;
  }
}

@media screen and (max-width: 1200px) {
  .orgs-right {
    display: none;
  }

  .row-stretch,
  .row-stagger,
  .orgs-left {
    margin: auto;
  }

  .orgs-header {
    margin-right: auto;
  }

  .orgs-flex {
    padding: 0;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media screen and (max-width: 600px) {
  .orgs-image-rows {
    flex-flow: column wrap;
    gap: 1em;
    align-items: center;
  }

  .org-image {
    max-height: 150px;
    max-width: 300px;
    width: auto;
  }
}

@media screen and (max-width: 400px) {
  .orgs-left {
    margin-left: -5%;
  }
}

.buttn-container {
  margin-top: 4%;
  margin-left: 11%;
  margin-bottom: 7%;
  /* display: flex;
  flex-flow: row wrap; */
  gap: 1em;
}

.brochure-buttn {
  margin-top: 1%;
  background-color: white;
  color: #042042;
  font-weight: 1000;
  font-size: calc(1rem);
  padding: 0% 0% 0% 0%;
  border-style: none;
  border-radius: 5px;
}

.brochure-buttn :hover {
  cursor: pointer;
}

.sponsor-dsc{
  color: white;
}
