#about {
  position: relative;
  overflow: hidden;
  font-family: Vanilla;
  z-index: 5;
}
.about-background {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.about-content {
  /* padding-top: 30vh; */
  width: 100vw;
  z-index: 10;
}

.about-title {
  font-size: 4em;
  font-weight: 300;
  color: #fff;
  text-align: left;
  margin-left: 11.5vw;
  margin-bottom: 8vh;
}

.about-title-active {
  font-size: 4em;
  font-weight: 300;
  color: #fff;
  text-align: left;
  margin-left: 11.5vw;
  margin-bottom: 8vh;
  animation: slide-up 3s ease-out;
}

.about-desc {
  font-size: 1.8rem;
  color: #fff;
  text-align: left;
  margin-bottom: 1rem;
  padding: 1rem;
  margin-left: 10vw;
  margin-right: 30vw;
  animation: slide-up 3s ease-out;
}

/* .button-container {
  margin-top: 4%;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.brochure-button {
  background-color: white;
  color: #042042;
  font-weight: 1000;
  font-size: calc(1rem);
  padding: 8% 4% 8% 4%;
  border-style: none;
  border-radius: 15px;
} */

@keyframes slide-up {
  from {
    transform: translateY(200px);
    opacity: 0;
    display: none;
  }

  to {
    translate: translateY(0px);
    opacity: 1;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .about-title {
    font-size: 2.3rem;
    width: 85vw;
    text-align: left;
    margin: 10px auto;
  }
  .about-desc {
    font-size: 1.5rem;
    width: 90vw;
    text-align: justify;
    margin: 20px auto 0 auto;
  }

  .button-container {
    margin-top: 10%;
    flex-flow: column wrap;
    align-items: center;
  }
}
