.about-title{
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    text-align: left;
    margin-left: 11.5vw;;
    margin-bottom: 1rem;
}

.about-desc{
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-left: 10vw;
    margin-right: 40vw;
}