nav{
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
} 

.responsive-logo {
  visibility: hidden;
}

.responsive-logo img {
  width: 10%;
  height: 10%;
}

.navbar_top {
    padding: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navBar_container {
    display: flex;
    width: 90%;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem;
    justify-content: space-between;
    flex-direction: row;

}

.woc {
    padding-left: 2%;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.navBar_links{
    width: 85%;
    /* margin-left: 18%; */
    /* padding: 1% 0; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.navBar_link-item {
    height: 10%;
    padding: 0 1.1%;
}

.navBar_link-item a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.16rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.14em;
    overflow: hidden;
}

.navBar_link-item a:hover {
    color: #fff;
    font-weight: bolder;
    /* background: #fff;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */
    transition: all 0.3s ease-in-out;
}

.navBar_apply-now {
    width: 9.2em;
    height: 3em;
    margin-left: 1.3%;
    border-radius: 0.5em;
    border: none;
    color: #114169;
    font-size: 0.9rem;
    font-weight: bolder;
    /* mix-blend-mode: color-dodge; */
}

.navBar_link{
    color: #0a2841;
    text-decoration: none;
}

.apply-now-link{
    color: #114169;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.nav-btn {
  padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.5rem;
}
/* @media screen and (max-width: 535px) {
    .navBar_links {
      width: 100vw;
      font-size: 135%;
    }
    .navBar_hamburger {
      padding: 9px 7px;
    }
    .hamburger_container {
      min-height: 20vh;
    }
    .navBar_hamburger div {
      width: 1.8rem;
      padding: 2px 0px;
    }
    .cross-burger .navBar_line3 {
      transform: rotate(405deg) translate(-6px, -7px);
    }
  }
  
  @media screen and (max-width: 360px) {
    .navBar_links {
      font-size: 100%;
    }
  }
  
  @media screen and (max-width: 279px) {
    .navBar_hamburger {
      padding: 0px 0px;
    }
    .hamburger_container {
      min-height: 14.7vh;
    }
    .navBar_hamburger div {
      width: 1rem;
      height: 1.5px;
      padding: 2px 12px;
    }
    .cross-burger .navBar_line1 {
      transform: rotate(-405deg) translate(-7px, 6px);
    }
    .cross-burger .navBar_line3 {
      transform: rotate(405deg) translate(-6px, -6px);
    }
  }
  
  .mob-view {
    transform: translateX(0%);
  } */
  
@media only screen and (max-width: 1024px){
  nav {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.3rem 0; */
    background-color: #ffffff22;
  }

  .nav-btn {
    visibility: visible;
    opacity: 1;
    color: #fff;
    padding: 0 2rem 0 0;
  }

  .responsive-logo {
    visibility: visible !important;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 0 0 1.5rem;
  }

  .responsive-logo img {
    width: 12%;
    height: 12%;
  }

  .navBar_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #021a3e;
    margin-top: -1rem;
    padding: 3rem 0 2.5rem 0.5rem;
    border-radius: 0;
    gap: 1.5rem;
    transition: 0.2s;
    transform: translateY(-110vh)
  }

  .navBar_links {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0 0 -5rem;
    gap: 2.5rem;
  }

  .navBar_links::-webkit-scrollbar {
    display: none;
  }

  .navBar_link-item a{
    font-size: 1.5rem;
  }

  .navBar_apply-now {
    width: 13rem;
    height: 3.5rem;
    background: #fff;
  }

  .apply-now-link {
    font-size: 1.5rem;
  }
  /* .navBar_container {
    width: 100vw;
    height: 70vh;
    background: #114169;
    display: flex;
    align-items: flex-start;
    margin-top: 1em;
  } */

  nav .responsive_nav {
    transform: none;
  }

}