.navbar_top {
    padding: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navBar_container {
    display: flex;
    width: 90%;
    align-items: center;
    /* padding: 1% 0; */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem;
    justify-content: space-between;
    flex-direction: row;

}

.woc {
    padding-left: 2%;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.md-4{
    width: 85%;
    /* margin-left: 18%; */
    /* padding: 1% 0; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.navBar_link-item {
    height: 10%;
    padding: 0 1.1%;
}

.navBar_link-item a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.16rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.14em;
    overflow: hidden;
}

.navBar_link-item a:hover {
    color: #fff;
    font-weight: bolder;
    /* background: #fff;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */
    transition: all 0.3s ease-in-out;
}

.navBar_apply-now {
    width: 9.2em;
    height: 3em;
    margin-left: 1.3%;
    border-radius: 0.5em;
    border: none;
    color: #114169;
    font-size: 0.9rem;
    font-weight: bolder;
    mix-blend-mode: color-dodge;
}

.navBar_link{
    color: #050708;
    text-decoration: none;
}

.apply-now-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 535px) {
    .navBar_links {
      width: 100vw;
      font-size: 135%;
    }
    .navBar_hamburger {
      padding: 9px 7px;
    }
    .hamburger_container {
      min-height: 20vh;
    }
    .navBar_hamburger div {
      width: 1.8rem;
      padding: 2px 0px;
    }
    .cross-burger .navBar_line3 {
      transform: rotate(405deg) translate(-6px, -7px);
    }
  }
  
  @media screen and (max-width: 360px) {
    .navBar_links {
      font-size: 100%;
    }
  }
  
  @media screen and (max-width: 279px) {
    .navBar_hamburger {
      padding: 0px 0px;
    }
    .hamburger_container {
      min-height: 14.7vh;
    }
    .navBar_hamburger div {
      width: 1rem;
      height: 1.5px;
      padding: 2px 12px;
    }
    .cross-burger .navBar_line1 {
      transform: rotate(-405deg) translate(-7px, 6px);
    }
    .cross-burger .navBar_line3 {
      transform: rotate(405deg) translate(-6px, -6px);
    }
  }
  
  .mob-view {
    transform: translateX(0%);
  }
  