nav {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  font-family: Vanilla;
  width: 90vw;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.responsive-logo {
  visibility: hidden;
}

.responsive-logo img {
  width: 8%;
  /* height: 10%; */
}

.navbar_top {
  padding: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navBar_container {
  display: flex;
  height: 5rem;
  width: 98%;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  /* justify-content: space-between; */
  flex-direction: row;
  backdrop-filter: blur(20px);
  z-index: 99999;
  justify-content: space-between;
  padding: 20px 0;
}

.woc {
  padding-left: 2%;
  padding-right: 8.5%;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.navBar_links {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.navBar_link-item {
  height: 10%;
  padding: 0 1.1%;
}

.navBar_link-item a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.14em;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  height: 150%;
}

.navBar_link-item a:hover {
  color: #fff;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}

.navBar_apply-now {
  width: 9.2em;
  height: 3em;
  margin-left: 1.3%;
  border-radius: 0.5em;
  border: none;
  color: #114169;
  font-size: 0.9rem;
  font-weight: bolder;
  /* mix-blend-mode: color-dodge; */
}

.navBar_link {
  color: #0a2841;
  text-decoration: none;
}

.apply-now-link {
  color: #114169;
  text-decoration: none;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}
/* @media screen and (max-width: 535px) {
    .navBar_links {
      width: 100vw;
      font-size: 135%;
    }
    .navBar_hamburger {
      padding: 9px 7px;
    }
    .hamburger_container {
      min-height: 20vh;
    }
    .navBar_hamburger div {
      width: 1.8rem;
      padding: 2px 0px;
    }
    .cross-burger .navBar_line3 {
      transform: rotate(405deg) translate(-6px, -7px);
    }
  }
  
  @media screen and (max-width: 360px) {
    .navBar_links {
      font-size: 100%;
    }
  }
  
  @media screen and (max-width: 279px) {
    .navBar_hamburger {
      padding: 0px 0px;
    }
    .hamburger_container {
      min-height: 14.7vh;
    }
    .navBar_hamburger div {
      width: 1rem;
      height: 1.5px;
      padding: 2px 12px;
    }
    .cross-burger .navBar_line1 {
      transform: rotate(-405deg) translate(-7px, 6px);
    }
    .cross-burger .navBar_line3 {
      transform: rotate(405deg) translate(-6px, -6px);
    }
  }
  
  .mob-view {
    transform: translateX(0%);
  } */

@media only screen and (max-width: 1024px) {
  nav {
    position: fixed;
    width: 100vw;
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: nowrap; */
    /* padding: 0.3rem 0; */
    backdrop-filter: blur(10px) !important;
    background-color: #ffffff22;
  }

  .nav-btn {
    visibility: visible;
    opacity: 1;
    color: #fff;
    padding: 0 2rem 0 0;
  }

  .responsive-logo {
    visibility: visible !important;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 0 0 1.5rem;
  }

  .responsive-logo img {
    width: 12%;
    height: 12%;
  }

  .navBar_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #021a3e;
    margin-top: -1rem;
    /* padding: 4.5rem 0 0 1.5rem; */
    padding-top: 5vh;
    border-radius: 0;
    gap: 0.6rem;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .navBar_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    /* padding: 0 1.5rem 0 0; */
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .navBar_links::-webkit-scrollbar {
    display: none;
  }

  .navBar_link-item a {
    font-size: 1.1rem;
  }

  .navBar_apply-now {
    width: 12rem;
    height: 4rem;
    font-size: 1.5rem;
    background: #fff;
  }
  /* .navBar_container {
    width: 100vw;
    height: 70vh;
    background: #114169;
    display: flex;
    align-items: flex-start;
    margin-top: 1em;
  } */

  nav .responsive_nav {
    transform: none;
    height: 120vh;
  }

  .woc {
    padding-right: 0%;
  }
}

iframe {
  width: 23vw !important;
  margin-left: 1.5vw !important;
}

button#apply-button {
  padding: 2% 10%;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .navBar_links {
    margin-top: 12.5%;
    margin-left: -5%;
  }

  .nav-close-btn {
    padding-top: 2%;
    padding-right: 1rem;
  }

  iframe {
    width: auto !important;
  }
}

@media screen and (max-width: 500px) {
  .navBar_links {
    width: 72.5vw;
    margin-top: 20%;
    margin-left: -10%;
  }

  .woc {
    padding-left: 0;
  }

  .nav-close-btn {
    padding-right: inherit;
  }
}
