#timeline {
  margin: 0%;
  padding: 0%;
  font-family: Vanilla;
  position: relative;
  overflow: hidden;
  z-index:20;
  /* min-height: 55vw; */
}
.timeline-background {
  position: absolute;
  width: 100vw;
  z-index: -1;
  min-height: 80vw;
  height: 100%;
  overflow: hidden;
}
.timeline-content {
  padding-top: 15vh;
  z-index: 1;
}
.timeline-heading {
  font-size: 4em;
  font-weight: 300;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.timeline-heading-active {
  font-size: 4em;
  font-weight: 300;
  color: white;
  text-align: center;
  text-transform: uppercase;
  animation: slide-up 1s ease-out;
}


.timeline-carousel {
  width: 70vw;
  margin: 20vh 0vw 20vh 15vw;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.timeline-item {
  display: flex;
  width: inherit;
  flex-direction: column;
  text-align: center;
}
.timeline-item-title {
  font-size: 10px;
  text-align: center;
}
.timeline-item-date {
  font-size: 12px;
}
.control-arrow {
  display: none;
}
.timeline-item-shape {
  position: relative;
  z-index: 2;
  margin: 2vh 0;
}
.timeline-item-shape-diamond {
  position: absolute;
  z-index: -1;
  margin: 0 auto;
  position: unset !important;
}
.timeline-item-shape-line {
  position: absolute;
  z-index: 3;
  margin-top: -42px;
  padding: 0% 2vw;
  width: 13vw;
  min-width: 130px;
  height: 40px;
}
.timeline-line1 {
  margin-top: -40px !important;
}
.timeline-line4 {
  margin-top: -40.8px !important;
}
.timeline-line2 {
  margin-top: -45px !important;
}
/* .timeline-line3{
    margin-top: -39px !important; 
} */
.timeline-line5 {
  margin-top: -45px !important;
}
.timeline-prev {
  border-radius: 50%;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  background-color: #273a58;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    translate: translateY(0px);
  }
}

@media screen and (max-width: 1050px) {
  .timeline-item-date {
    font-size: 10px;
  }
  .timeline-carousel {
    width: 80vw;
    margin: 20vh 10vw 20vh 12vw;
  }
  .timeline-item-shape-line {
    width: 18vw;
    /* min-width: 100px; */
  }
}

@media screen and (max-width: 610px) and (min-width: 420px) {
  .timeline-item-shape-line {
    width: 40vw;
  }
  .timeline-carousel {
    width: 95vw;
    margin: 15vh 0vw 15vh 2.5vw;
  }
  .timeline-prev {
    width: 45px;
    height: 30px;
    margin: 0 1vw;
  }
}
@media screen and (max-width: 420px) {
  .timeline-item-shape-line {
    width: 60vw;
  }
  .timeline-carousel {
    width: 80vw;
    margin: 15vh 0vw 15vh 10vw;
  }
  .timeline-prev {
    width: 50px !important;
    height: 20px !important;
    margin: 0 1vw;
  }
}
