#timeline{
    padding-top: 210vh;
    z-index: 2;
}
.timeline-heading {
    font-size: 4em;
    color: white;
    text-align: center;
}
.timeline-carousel-next,.timeline-carousel-prev{
    color:white;
    z-index: 2;
}
.timeline-list{
    display: flex;
    color: white;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}