.hx{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 55px auto 0px;
  position: relative;
  text-align: center;
  width: 1000px;
  border: 3px solid #04cad8;
  border-radius: 20px;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family:Vanilla;
  color:rgb(237, 241, 244);
  font-size: 1.2em;
  background-color: rgba(17, 2, 47, 0.5);
}

@media (min-width: 920px) {
  .form_h1 {
    margin-top: 0px;
    font-size: 4rem;
  }
}

/* Animation webkit */
@-webkit-keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

/* Animation */
@keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

.fish {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/fish.png");
  opacity: 0.3;
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: myfirst 24s;
  -webkit-animation: myfirst 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

#fish {
  top: 1000px;
}

#fish2 {
  top: 1300px;
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}

#fish3 {
  top: 1600px;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

.form_header {
  margin-top: 0px;
  height: 98px;
} 

#form {
  background-image: url("../../assets/background.jpg");
  min-height: 100vh;
  background-color: rgb(3, 30, 64);
  width: 100%;
  overflow: hidden;
  position: relative;
  background-position: center top;
  background-size: 100% auto;
}

form {
  margin: 0 auto;
  width: 500px;
  /* padding-top: 40px; */
  color: white;
  position: relative;
}

label,
input,
select {
  display: block;
}

label{
  padding: 20px;
}

input,
textarea,
select {
  color:aliceblue;
  width: 500px;
  border: none;
  border-radius: 50px;
  outline: none;
  padding: 20px;
  font-family:Vanilla;
  font-size: 1em;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* backdrop-filter: blur(50px); */
  background-color: rgba(0,0,0,0.5);
}

textarea{
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
    transition: 0.5s;
    box-shadow: 0 0 10px #04cad8;
    transform: translateX(20px);
}

input[type="submit"] {
  text-align: center;
  width: 200px;
  color: white;
  height: 80px;
  cursor: pointer;
  margin: 30px auto;
  font-size: 1.29em;
  font-family: Vanilla;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border-radius: 10px;
  margin-bottom: 2em;
}

input[type="submit"]:hover {
  transition: 0.7s;
  box-shadow:0 0 15px #04cad8;
  color: rgb(5, 5, 5);
  background-color: #04cad8;
}

label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}

.formgroup,
.formgroup-active,
.formgroup-error {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10.5%;
  transition: background-image 0.7s;
  -webkit-transition: background-image 0.7s;
  -moz-transition: background-image 0.7s;
  -o-transition: background-image 0.7s;
  width: 566px;
  padding-top: 2px;
}

.formgroup {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/pixel.gif");
}

.formgroup-active {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/octo.png");
}

.formgroup-error {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/octo-error.png");
  color: red;
}

@media (max-width: 800px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 80vw;
  }

  h1 {
    display: flex;
    flex: 3 !important;
    font-size: 50px;
    padding-top: 30px !important;
  }

  .form_header {
    padding-top: 2em;
    height: 30vh;
  }
  .formgroup {
    width: inherit;
  }
  input,
  select {
    width: inherit;
  }
  label {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
    padding-top: 20px;
  }
  label {
    font-size: 20px;
  }
}

.login-with-google-btn {
  display: flex;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  margin: 17rem 4rem 16rem 45rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.sd-avatar{
  border-radius: 50%;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .login-with-google-btn {
    display: flex;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
  }
  
  .login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .login-with-google-btn:active {
    background-color: #eeeeee;
  }
  
  .login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }
  
  .login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  
  .sd-avatar{
    border-radius: 50%;
    justify-content: space-between;
  }
}

button{
    text-align: center;
    width: 200px;
    color: white;
    height: 80px;
    cursor: pointer;
    margin: 30px auto;
    font-size: 1.29em;
    font-family: Vanilla;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    border-radius: 10px;
    margin-bottom: 2em;
  }