.projects {

  background: rgb(2, 0, 36);
  padding: 1px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(1, 17, 130, 1) 49%, rgba(55, 184, 255, 1) 100%);
  /* overflow: hidden; */
  scroll-behavior: smooth;
  padding-bottom: 40px;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: Vanilla;
  /* background-size: cover; */
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top: 120px; */
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.Organization_name {
  z-index: 1;

  padding-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  display: block;
  visibility: visible;
  color: #fff;
  transition: all ease-in-out 0.1s;
}

.snowflake {
  opacity: 0.3;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.PopUpcard {
  color: black;
  height: 500px;
  overflow: hidden;
  /* margin: 10px 5px; */
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
  bottom: 0px;
  margin-top: 22px;
  width: 100%;
  flex-direction: column;
  display: inline-flex;
  z-index: 1;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: rgba(255, 255, 255, 0.40);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
}

.projects-page-header {
  text-align: center;
  font-size: calc(2.5em + 1.675vw);
  font-weight: 200;
  color: white;
  /* letter-spacing: 0.09em; */
  padding-bottom: 5%;
}

.filter_option {
  display: flex;
  padding: 11px 0px;
  border-radius: 10px !important;
  justify-content: space-around;
  width: 40vw;
  margin: 0 auto;
  backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.filter_option h4 {
  color: black;
  margin-right: 4rem;
  font-size: 18px;
}

.proj_slides {
  padding: 20px;
  /* overflow: auto; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.2); */
  text-align: center;
  scrollbar-width: none;
}

.empty_text {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.empty_text h1 {
  text-align: center;
  color: white;
  padding-top: 100px;
  font-size: xx-large;
}

/* Custom Scroll bar */
.proj_slides::-webkit-scrollbar {
  background: transparent;
  /* adjust here to change the width of scrollbar */
  height: 10px;
}

.proj_slides::-webkit-scrollbar-thumb {
  /* change color here */
  background: rgba(169, 169, 169, 0.747);
  /* change the radius of scrollbar */
  border-radius: 10px;
}

.proj_slides::-webkit-scrollbar-corner {
  /* change the radius of scrollbar */
  border-radius: 10px;
  /* change color here */
  background: rgba(169, 169, 169, 0.712);
}

.proj_item {
  display: flex;
  background-color: #191417;
  color: rgb(212, 208, 208);
  border-radius: 5px;
  border: 2px solid rgb(128, 125, 125);
  transition: all ease 1s;
  box-shadow: 1px 1px 1px 2px rgb(56, 55, 56);
  padding: 4px;
}

.proj_vid video {
  right: 0;
  bottom: 0;
  width: 100vw;
  padding-right: 0.001vw;
  background-size: cover;
}

.proj_slt {
  /* margin-right: 10px; */
  width: 200px;
  padding: 10px;
  margin: 0% !important;
  color: black;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.proj_form {
  width: initial;
}

@media (max-width: 1024px) {
  .filter_option {
    margin-top: 20vh;
    width: 80vw;
  }

  .proj_slt {
    width: 35vw;
    min-width: 100px;
  }

  .proj_form {
    padding: 0% !important;
  }

  .projects-page-header {
    margin-top: 20%;
  }

  .PopUpcard {
    top: 80px;
    margin-right: 2px;
  }
}



@media (max-width: 500px) {

  /* .proj_slt {
    width: 50vw;
  } */
  .projects-page-header {
    margin-top: 30%;
    margin-bottom: 5%;
  }

  .PopUpcard {
    top: 80px;
    margin-right: 2px;
  }

}

.no_view {
  display: none;
}