.Card {
  color: black;
  height: 400px;
  margin: 10px 5px;
  max-width: 343px;
  width: 100%;
  flex-direction: column;
  display: inline-flex;
  z-index: 1;
  transition: all ease-in-out 0.4s;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.text-center {
  text-align: center !important;
}
.proj_slider {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
.fa-arial {
  color: #f9f9f9 !important;
  letter-spacing: 2px;
}
.Card:hover {
  border: 1px solid rgb(255, 255, 255);
  transform: translateY(-10px);
}

.Organizer_img {
  transition: all ease-in-out 0.3s;
  z-index: 1;
  margin: 20px;
  background-position: center;
  background-size: contain;
  height: 50%;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.Ideas a {
  color: white;
}
.dropbtn {
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
  background-color: #1393b3;
  /* background-image: linear-gradient(-90deg, #134bb3 0%, #2e68d3 100%); */
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
}

.dropdown {
  transition: all ease-in-out 0.2s;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding-top: 5px;
  display: none;
  position: absolute;
  background-color: #1b0404e5;
  min-width: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.dropdown-content a {
  width: 100%;
  z-index: 100000;
  color: black;
  padding: 2px 6px;
  text-decoration: none;
  display: inline;
}

/* Custom Scroll bar */
.Ideas::-webkit-scrollbar {
  background: transparent;
  /* adjust here to change the width of scrollbar */
  width: 4px;
}

.Ideas::-webkit-scrollbar-thumb {
  /* change color here */
  background: rgba(169, 169, 169, 0.747);
  /* change the radius of scrollbar */
  border-radius: 10px;
}

.Ideas::-webkit-scrollbar-corner {
  /* change the radius of scrollbar */
  border-radius: 10px;
  /* change color here */
  background: rgba(169, 169, 169, 0.712);
}

.dropdown-content a:hover {
  background-color: rgb(31, 18, 18);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #2162db;
}

.Project_name {
  z-index: 1;
  height: 30%;
  padding: 1em 1.5em 1em 1.5em;
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
  display: block;
  visibility: visible;
  color: #0e0e0e;
  transition: all ease-in-out 0.1s;
}

.mentors-flex {
  text-decoration: none;
  /* padding-left: 67px; */
  display: block;
  text-align: start;
  padding: 5px 0;
}

.mentors-flex:hover > div {
  color: #e1e1e1b0 !important;
}

.Project_ideas {
  cursor: pointer;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 20%;
  transition: all ease-in-out 0.3s;
  padding-right: 1.2em;
  padding-left: 1.2em;
  text-align: center;
  font-weight: 800;
}

.git_hub {
  margin: 0px 0px 20px 0px;
  font-size: 35px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.git_hub:hover {
  /* transform: scale(1.7) rotateZ(360deg); */
  color: #5d687f;
}

.Ideas {
  letter-spacing: 2px;
  line-height: 1.5em;
  background-image: linear-gradient(0deg, #02427483 0%, #001eff00 100%);
  text-align: center;
  z-index: 100;
  transition: all ease-in-out 0.3s;
  height: 0%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  bottom: 0px;
  overflow: auto;
}

/* #191417 */
