.wrapper {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/bg\ images/WOC_Landing-page_back-ground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-2 {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/bg\ images/WOC_Landing-page_back-ground_rotated.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: absolute;
    z-index: 10;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    translate: 0 -160%;
    scale: 2;
}

.iceberg-upper {
    position: absolute;
    bottom: 0;
    height: 43%;
}

.cloud-right {
    position: absolute;
    top: 20%;
    right: 2em;
    height: 13%;
}

.cloud-left {
    position: absolute;
    top: 45%;
    left: 1%;
    height: 13%;
}

.birds-right {
    position: absolute;
    top: 42%;
    right: 2em;
    height: 13%;
}

.birds-left {
    position: absolute;
    top: 25%;
    left: 7%;
    height: 10%;
}

.moon {
    position: absolute;
    top: 22%;
    left: 17%;
    height: 19%;
}

#Home{
    position: relative;
    margin:0%;
    padding: 0%;
    height:100vh;
    overflow: hidden;
}
.landing-background{
    position: absolute;
    height: 100%;
}
.navigation{
    position: absolute;
    width:100vw;
    height: 100vh;
    z-index: 2;
}