.wrapper {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 6, 56, 0.323),
      rgba(73, 79, 150, 0.145)
    ),
    url("../../assets/bg\ images/WOC_Landing-page_back-ground.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-2 {
  height: 120vh;
  width: 100%;
  background-image: linear-gradient(
      to top,
      rgba(0, 4, 42, 0.423),
      rgba(73, 79, 150, 0.145)
    ),
    url("../../assets/bg\ images/WOC_Landing-page_back-ground_rotated.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iceberg {
  z-index: 2;
  width: 47%;
  height: 200%;
  /* left: 10%; */
  position: absolute;
  top: 45%;
  max-width: 100vw;
}

.left-iceberg {
  z-index: 3;
  width: 15%;
  height: 95%;
  left: 1%;
  position: absolute;
  top: 85%;
  /* opacity: 0.; */
}

.right-iceburg {
  z-index: 3;
  width: 13%;
  right: 0%;
  height: 75%;
  position: absolute;
  top: 95%;
  opacity: 0.8;
}

.wave {
  opacity: 0.9;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 10%;
}

.moon {
  z-index: 100;
  width: 11%;
  position: absolute;
  top: 28%;
  left: 13%;
}

.title {
  position: absolute;
  top: 53%;
  left: 43%;
  z-index: 10000;
  /* font-size: 40px; */
  text-transform: uppercase;
  font-size: 2.2vw;
  font-weight: 100;
  letter-spacing: 0.14em;
  color: rgb(255, 255, 255);
  /* translate: 0%; */
  scale: 2;
}

/*

@media only screen and (max-width: 1024px) {
  .wave {
    top: 4%;
  }
}

@media only screen and (max-width: 821px) {
  .wrapper {
    height: 100vh;
  }

  .wrapper-2 {
    height: 0vh;
  }

  .iceberg {
    top: 25%;
  }

  .moon {
    top: 15%;
  }

  .wave {
    top: 5%;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    height: 100vh;
  }

  .wrapper-2 {
    height: 20vh;
  }

  .iceberg {
    top: 23%;
  }

  .wave {
    top: 10%;
  }

  .moon {
    top: 15%;
  }
} */

.cloud-right {
  position: absolute;
  top: 28%;
  right: 2em;
  width: 30%;
}

.cloud-left {
  position: absolute;
  top: 65%;
  left: 0%;
  width: 17%;
}

.cloud-1 {
  position: absolute;
  top: 75%;
  right: 32%;
  height: 13%;
  z-index: 20;
}

.cloud-4 {
  position: absolute;
  top: 45%;
  left: 27%;
  height: 14%;
  opacity: 0.2;
}

.birds-right {
  position: absolute;
  top: 65%;
  right: 2em;
  height: 13%;
  filter: contrast(3.5) brightness(1.5) grayscale(0.5);

  animation-name: slide;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.birds-left {
  position: absolute;
  z-index: 103;
  top: 30%;
  left: 4%;
  height: 11%;
  filter: contrast(1.4);
  animation-name: slide;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@media only screen and (max-width: 1100px) {
  .moon {
    width: 13%;
  }
  .birds-left {
    height: 8%;
  }
}

@media screen and (max-width: 950px) {
  .iceberg {
    width: 70vw;
    height:130%;
    top: 55%;
  }
  .wave {
    top: 30%;
  }
  .left-iceberg,
  .right-iceburg {
    display: none;
  }
  .cloud-4 {
    height: 9%;
    top: 40%;
    left: 12%;
  }
  .title {
    top: 52%;
    font-size: 2em;
    left:30%;
  }
  .cloud-1 {
    top: 62%;
    z-index: 0;
    right: 1%;
  }
  .moon {
    width: 20%;
    top: 15%;
    left: 9%;
  }
  .birds-left {
    height: 5%;
    left: 1%;
    top: 14%;
  }
  .cloud-right{
    width:40%;
    right:0%;
  }
}

@media only screen and (max-width: 700px) {
  .iceberg {
    width: 75vw;
    left: 15%;
    height: 150%;
    top: 50%;
  }
  .wave {
    top: 25%;
  }
  .title {
    left: 35%;
    font-size: 1em;
  }
  .cloud-1{
    right:16%;
    height:10%;
  }
  .cloud-4 {
    top: 35%;
    left: 14%;
    height: 12%;
  }
  .cloud-right {
    width: 45%;
    right: 1%;
    top: 15%;
  }
  .moon {
    width: 16%;
    top: 21%;
    left: 5%;
  }
  .birds-left {
    height: 5%;
    left: 1%;
    top:20%;
  }
  .birds-right{
    top:40%;
  }
}
@media screen and (max-width:500px) {
  
  .moon {
    width: 20%;
    top: 17%;
    left: 5%;
  }
  .birds-left {
    left: 0%;
    top:20%;
  }
  .birds-right{
    top:40%;
  }
  .cloud-4{
    height:8%;
    top:50%;
    left:7%;
  }
  .cloud-1{
    top:68%;
    right: 5%;
  }
  .title{
    top:40%;
    left:30%;
  }
  .cloud-right{
    top:25%;
  }
  .iceberg{
    height: 110%;
    top:60%;
  }
}