#Home {
  margin: 0%;
  padding: 0%;
  background-image: url("../../assets//background.jpg");
  background-position: center top;
  background-size: 100% auto;
  width: 100vw;
  overflow: hidden;
  min-height: 150vh;
}
.navigation {
  width: 100vw;
  z-index: 2;
}
.applyButton a{
  padding: 3% 3%;
  margin-left:20px;
  border-radius: 0.1em;
  border: none;
  color: #273333;
  background-color: #B4CCFC;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bolder;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.applyButton a:hover{
  background-color: #c7d7f7;
  color:#484d4d;
}
