#Home{
    position: relative;
    margin:0%;
    padding: 0%;
    height:100vh;
    overflow: hidden;
}
.landing-background{
    position: absolute;
    width:100vw;
    height: 100vh;
}
.navigation{
    position: absolute;
    width:100vw;
    height: 100vh;
    z-index: 2;
}