#ourTeam {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: Vanilla;
}

.ourTeam-background {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.ourTeam-header {
    display: flex;
    padding: 4rem;
    justify-content: center;
    font-size: 4.5rem;
    /* font-weight: bold; */
    color: #fff;
    animation: slide-up 1s ease-out;
}

.ourTeam-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.first-row, .second-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.card {
    height: 6rem;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    margin: 0 3rem;
    background-color: #fff;
    border-radius: 10rem;
}

.card .card-heading {
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background-color: aqua; */
    font-size: 1rem;
}

.card .contributors {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 0 1rem;
    gap: 1rem;
    animation: forwards 3s ease-out;
}

.card .contributors h3 {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    padding: 2.6rem 0 0 2.3rem;
    background-color: bisque;
}

.design {
    background: rgba(114, 188, 223, 0.4);
}

.desgn {
    background-color: rgba(114, 188, 223);
}

.webDev {
    background: rgba(253, 194, 2, 0.4);
}

.dev {
    background-color: rgba(253, 194, 2);
}

.marketing {
    background: rgba(255, 2, 192, 0.4);
    /* margin-left: 9rem; */
}

.market {
    background-color: rgba(255, 2, 192);
}

.media {
    background: rgba(1, 255, 234, 0.4);
}

.sponser {
    background-color: rgba(1, 255, 234);
}

.media .card-heading {
    padding: 0 0 0 0.7rem;
    font-size: 0.9rem;
}

@media only screen and (max-width: 1474px){
    .ourTeam-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 950px) and (min-width: 810px){

    .ourTeam-cards {
        margin-left: -2rem;
    }

    .card {
        margin: 1rem;
    }    
}

@media only screen and (max-width: 810px) and (min-width: 760px){

    .ourTeam-cards {
        width: 760px;
        margin-left: -3.45rem;
    }

    .card {
        margin: 0.5rem;
    }    
}

@media only screen and (max-width: 760px){

    .ourTeam-header {
        margin-left: 2rem;
    }

    .first-row, .second-row {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 6rem;
        height: max-content;
        margin: 1rem 0 1rem -5.8rem;
        align-items: center !important;
        justify-content: center;
    }

    .card .card-heading {
        margin: 0 0 1rem 0;
    }

    .card .contributors {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        gap: 1rem;
        animation: forwards 3s ease-out;
    }
}