* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  overflow: hidden;
}

/* A website should be memorising and scrollbar helps a user to remember where a certain thing is */
/* ::-webkit-scrollbar {
  display: none;
} */

html {
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: Vanilla;
  src: url("./assets/NT\ Vanilla.otf");
}
body {
  height: 120vh;
  width: 100%;
  background-image: url("./assets/bg\ images/WOC_Landing-page_back-ground.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
