* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

html {
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: Vanilla;
  src: url("./assets/NT\ Vanilla.otf");
}

