@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply uppercase text-4xl font-bold sm:text-6xl;
  }

  .link {
    @apply text-sky-500;
  }

  .diamond-sponsors {
    color: rgb(232, 61, 255);
    background: linear-gradient(
      -10deg,
      rgba(0, 0, 0, 0.1),
      90%,
      rgba(227, 0, 225, 0.8)
    );
  }

  .platinum-sponsors {
    color: rgb(22, 215, 168);
    background: linear-gradient(
      -10deg,
      rgba(0, 0, 0, 0.1),
      90%,
      rgba(22, 215, 168, 0.85)
    );
  }

  .gold-sponsors {
    color: rgb(228, 218, 37);
    background: linear-gradient(
      -10deg,
      rgba(0, 0, 0, 0.1),
      90%,
      rgba(228, 218, 37, 0.8)
    );
  }

  .silver-sponsors {
    color: rgb(174, 174, 175);
    background: linear-gradient(
      -10deg,
      rgba(0, 0, 0, 0.1),
      90%,
      rgba(174, 174, 175, 0.8)
    );
  }

  .ivory-sponsors {
    color: rgb(226, 157, 29);
    background: linear-gradient(
      -10deg,
      rgba(0, 0, 0, 0.1),
      90%,
      rgba(226, 157, 29, 0.8)
    );
  }

  .media-sponsors {
    color: rgb(217, 216, 235);
    background: linear-gradient(
      -10deg,
      rgba(0, 0, 0, 0.1),
      90%,
      rgba(217, 216, 235, 0.8)
    );
  }

  .diamond-sponsors,
  .platinum-sponsors,
  .gold-sponsors,
  .silver-sponsors,
  .ivory-sponsors,
  .media-sponsors {
    -webkit-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
    -ms-backdrop-filter: blur(50px);
    -o-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);

    border-radius: 10px;
    border-style: solid;
    border-color: #e5e7eb;
    border-width: 3px;

    box-shadow: inset 0 0 15px #e5e7eb, 0 0 6px #e5e7eb;
    animation: slide-up 2s ease-out;
  }
}
